@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
body {
  margin: 0;
  font-family: poppins;
}

.nav_container {
  background-color: #f8f8f8;
  padding: 1em;
  padding-right: 4em;
}

header{
  display: flex;
  place-content: space-between;
}

nav ul li a{
  text-decoration: none;
  padding: 1em;
}

nav ul {
  list-style: none;
}

nav {
  font-family: poppins;
  font-size: 20px;
}

.hero {
  margin: 0;
  padding: 0;
  text-align: center;
}
.hero .call_to_action h1{
  display: inline-block;
  color: black;
  text-align: center;
  margin: none;
}

.button_section {
  display: flex;
  place-content: space-between;
  width: 100%;
}

.button_section .left_player img{
  width: 600px;
  padding-left: 8em;
}

.button_section .right_player img{
  width: 700px;
  padding-top: 3em;
  margin-right: 5em;
}

.button_section .buttons {
  display: flex;
  place-content: space-between;
  height : 50px;
  padding-top: 15em;
}

.button_section .buttons button {
  margin: 1em;
  height: 50px;
  width: 200px;
  background-color: rgb(46, 67, 255);
  color: white;
  border: none;
  border-radius: 3em;
  font-family: poppins;
  box-shadow: 10px 20px 25px #88888848;
  font-size: 15px;
}