@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


body {
    margin: 0;
    font-family: poppins;
}

.nav_container {
    background-color: rgb(248, 248, 248);
    padding: 1em;
}

header {
    background-color: yellow;
}



// body {
//     margin: 0;
//     font-family: poppins;
// }

// .nav-container {
//     background: white;
//     margin: none;
//     padding: 0;
//     header {
//         .logo{
//             padding: 1em;
//         }
//         nav {
//             ul {
//                 li {
//                     margin: 10px;
//                     color: white;
//                     text-decoration: nones;

//                 }
//             }
//         }
//     }
// }

// .call_to_action {
//     justify-content: center;
// }

// header {
//     display: flex;
//     justify-content: space-between;
//     padding: 1em;
//     height: 30px;
// }

// .logo {
//     height: 10px;
//     justify-content: center;
// }

// .hero{
//     background: white;
//     justify-content: space-between;
// }

// .call_to_action {
//     background:wheat;
//     display: flex;
//     justify-content: space-between;
//     text-align: center;
// }

// .left_player {
//     display: flex;
//     justify-content: left;
//     width: 150px;
// }

// .button_section {
//     background: rgb(87, 24, 13);
//     display: flex;
//     justify-content: space-between;
// }